<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>User Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="userRegisterForm">
      <mat-form-field class="example-full-width">
        <mat-label>Fullname</mat-label>
        <input type="text" matInput placeholder="Fullname" id="name" formControlName="fullName">
        <mat-error *ngIf="f['fullName'].errors?.['required']">required</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>DOB</mat-label>
        <input type="date" matInput placeholder="date-of-birth" id="dob" formControlName="dob" (blur)="ageCalculator()">
        <mat-error *ngIf="f['dob'].errors?.['required']">required</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Age</mat-label>
        <input type="number" matInput placeholder="Age" formControlName="age" id="age" readonly>
        <mat-error *ngIf="f['age'].errors?.['required']">required</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="email" formControlName="email" id="email">
        <mat-error *ngIf="f['email'].errors?.['required']">required</mat-error>
        <mat-error *ngIf="f['email'].errors?.['email']">invalid</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Phone</mat-label>
        <input type="number" matInput placeholder="Phone" formControlName="mobile" id="mobile" maxlength="10">
        <mat-error *ngIf="f['mobile'].errors?.['required']">required</mat-error>
        <mat-error *ngIf="f['mobile'].errors?.['maxlength']">required</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input type="text" matInput placeholder="Username" formControlName="userName" id="uname">
        <mat-error *ngIf="f['userName'].errors?.['required']">required</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" formControlName="password" id="password">
        <mat-error *ngIf="f['password'].errors?.['required']">required</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput placeholder="confirm password" formControlName="cpassword" id="cpassword">
        <mat-error *ngIf="f['cpassword'].errors?.['required']">required</mat-error>
        <mat-error *ngIf="f['cpassword'].errors?.['confirm']">notmatch</mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Register</button>
        <button mat-raised-button color="reset" id="reset" type="reset">Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>