<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Quick Cart</span>
    <div>
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/registeration']" routerLinkActive="router-link-active" >Register</button>
            <button mat-menu-item [routerLink]="['/productRegister']" routerLinkActive="router-link-active" >Add Product</button>
        </mat-menu>
    </div>
</mat-toolbar>